@use '../../scss/' as *;

.blog__recent__post {
    padding: 0 20px;

    &__item {
        @include flex(flex-start, center);
        gap: 0 20px;
        margin-bottom: 20px;

        &__img {
            width: 40%;
            border-radius: 5px;
            overflow: hidden;
        }

        &__info {
            h2 {
                font-size: 1.3rem;
                margin-bottom: 10px;
            }
        }
    }
}